{% set display_managers_lightdm = salt['grains.filter_by']({
  'default': {
    'pkg': 'lightdm',
    'greeter': 'lightdm-gtk-greeter',
    'service': 'lightdm'
  },
  'Gentoo': {
    'pkg': 'x11-misc/lightdm',
    'greeter': 'x11-misc/lightdm-gtk-greeter'
  }
},
grain="os_family",
merge=salt['pillar.get']('display_managers_lightdm:lookup'), base='default') %}
