{% set i3wm = salt['grains.filter_by']({
  'default': {
    'i3-wm':    'i3-wm',
    'i3-gaps':  'i3-gaps',
    'i3status': 'i3status',
    'i3lock': 'i3lock'
  },
  'Gentoo': {
    'i3-wm':    'x11-wm/i3',
    'i3-gaps':  'x11-wm/i3-gaps',
    'i3status': 'x11-misc/i3status',
    'i3lock':   'x11-misc/i3lock'
  },
  'Void': {
    'i3-wm':    'i3'
  }
}, grain='os_family', merge = salt['pillar.get']('i3wm:lookup'), base='default') %}
