{% set ubuntu_fonts = salt['grains.filter_by']({
  'default': {
    'ttf-ubuntu-font-family':         'ttf-ubuntu-font-family'
  },
  'Debian': {
    'ttf-ubuntu-font-family':         'fonts-ubuntu',
   }
}, grain='os_family', merge = salt['pillar.get']('ubuntu_fonts:lookup'), base='default') %}
