{% set caladea_fonts = salt['grains.filter_by']({
  'default': {
    'ttf-caladea':         'ttf-caladea'
  },
  'Debian': {
    'ttf-caladea':         'fonts-crosextra-caladea',
   }
}, grain='os_family', merge = salt['pillar.get']('caladea_fonts:lookup'), base='default') %}
