{% set cantarell_fonts = salt['grains.filter_by']({
  'default': {
    'cantarell-fonts':         'cantarell-fonts'
  },
  'Debian': {
    'cantarell-fonts':         'fonts-cantarell',
   }
}, grain='os_family', merge = salt['pillar.get']('cantarell_fonts:lookup'), base='default') %}
