{% set hack_fonts = salt['grains.filter_by']({
  'default': {
    'ttf-hack':         'ttf-hack'
  },
  'Debian': {
    'ttf-hack':         'fonts-hack',
   }
}, grain='os_family', merge = salt['pillar.get']('hack_fonts:lookup'), base='default') %}
