{% set budgie = salt['grains.filter_by']({
    'Default': {
        'budgie-desktop': 'budgie-desktop',
    },
    'Gentoo': {
        'budgie-desktop': 'gnome-extra/budgie-desktop'
    }
}, grain='os_family', merge=salt['grains.filter_by']({
    'Ubuntu': {
        'gnome': 'ubuntu-budgie-desktop'
    }
}, grain='os', merge=salt['pillar.get']('budgie'), default='Default')) %}
