{% set gentoo = salt['grains.filter_by']({
  'default': {
    'profile': 'default/linux/amd64/17.0/desktop',
    'ssl_lib':  'libressl'
  }
},
grain="os_family",
merge=salt['pillar.get']('gentoo:lookup'), base='default') %}

