{% set carlito_fonts = salt['grains.filter_by']({
  'default': {
    'ttf-carlito':         'ttf-carlito'
  },
  'Debian': {
    'ttf-carlito':         'fonts-crosextra-carlito',
   }
}, grain='os_family', merge = salt['pillar.get']('carlito_fonts:lookup'), base='default') %}
