{% set chromium = salt['grains.filter_by']({
  'default': 'chromium',
  'Debian': 'chromium-browser',
  'Gentoo': 'www-client/chromium'
},
grain="os_family",
merge=salt['pillar.get']('chromium:lookup'), base='default') %}
