{% set hunspell_packages = salt['grains.filter_by']({
  'default': {
   'hunspell': 'hunspell',
   'hunspell-en_GB': 'hunspell-en_GB',
   'hunspell-en_US': 'hunspell-en_US'
  },
  'Debian': {
    'hunspell-en_GB':   'hunspell-en-gb',
    'hunspell-en_US':   'hunspell-en-us'
  },
  'Gentoo': {
    'hunspell': 'app-text/hunspell',
   'hunspell-en_GB': 'hunspell-en_GB',
   'hunspell-en_US': 'hunspell-en_US'
  }
},
grain="os_family",
merge=salt['pillar.get']('hunspell_packages:lookup'), base='default') %}
