{% set gnome = salt['grains.filter_by']({
    'Default': {
        'gnome': 'gnome',
        'gnome-keyring': 'gnome-keyring',
        'gnome-tweaks': 'gnome-tweaks'
    },
    'Debian': {
        'gnome': 'gnome-shell'
    },
    'Gentoo': {
        'gnome':  'gnome-base/gnome',
        'gnome-keyring':    'gnome-base/gnome-keyring',
        'gnome-tweaks': 'gnome-extra/gnome-tweak-tool'
    },
}, grain='os_family', default='Default', merge=salt['grains.filter_by']({
    'Ubuntu': {
        'gnome': 'ubuntu-desktop'
    }
}, grain='os', merge=salt['pillar.get']('gnome'))) %}
