# vim: format=saltstack.sls
{% macro install_google_chrome(google_chrome='google-chrome', google_chrome_prefix='/usr/share/google-chrome', google_chrome_deburl='https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb') %}
{% set desktop_type = salt['pillar.get']('desktop_type', default=None) %}

include:
  - dummy
  {% if desktop_type == 'kde' %}
  - applications.utilities.kdialog.kdialog
  {% endif %}
  {% if grains['os_family'] == 'Arch' %}
  - applications.utilities.yay.yay
  {% endif %}

{% if grains['os_family'] == 'Debian' or grains['os_family'] == 'RedHat' %}
{{google_chrome}}:
  pkg.installed:
    - sources:
      {% if grains['os_family'] == 'RedHat' %}
      - {% if google_chrome == 'google-chrome' %}google-chrome-stable{% else %}{{google_chrome}}{% endif %}: {{google_chrome_deburl|replace('amd64.deb', 'x86_64.rpm')}}
      {% else %}
      - {{google_chrome}}: {{google_chrome_deburl}}
      {% endif %}
{% elif grains['os_family'] == 'Arch' %}
{% from "common/Arch/aur_install.jinja" import yay with context %}
{{google_chrome}}:
{{ yay([google_chrome]) }}
{% else %}
{% if grains['os_family'] == 'Gentoo' %}www-client/{% endif %}{{google_chrome}}:
  pkg.installed
{% endif %}
{% for extension in salt['pillar.get']('chromium:extensions', default=[]) %}
{{google_chrome_prefix}}/extensions/{{pillar['chromium']['extensions'][extension]}}.json:
  file.managed:
    - makedirs: True
    - contents: |
        {
            "external_update_url": "https://clients2.google.com/service/update2/crx"
        }
{% endfor %}
{% endmacro %}
