{% set display_managers_gdm = salt['grains.filter_by']({
  'default': {
    'pkg': 'gdm',
    'service': 'gdm'
  },
  'Debian': {
    'pkg': 'gdm3'
  },
  'Gentoo': {
    'pkg': 'gnome-base/gdm'
  }
},
grain="os_family",
merge=salt['pillar.get']('display_managers_gdm:lookup'), base='default') %}
