{% set debian_cpupower = 'linux-cpupower' %}
{% if grains['os'] == 'Ubuntu' %}
{% set debian_cpupower = 'linux-tools-common' %}
{% endif %}

{% set common_packages = salt['grains.filter_by']({
  'default': {
    'apg': 'apg',
    'aria2': 'aria2',
    'asciinema': 'asciinema',
    'at':   'at',
    'bc':   'bc',
    'bzip2': 'bzip2',
    'busybox': 'busybox',
    'curl': 'curl',
    'cpupower': 'cpupower',
    'ddrescue': 'ddrescue',
    'dict': 'dict',
    'dmidecode': 'dmidecode',
    'dos2unix': 'dos2unix',
    'dtrx': 'dtrx',
    'expect':   'expect',
    'file': 'file',
    'fdupes': 'fdupes',
    'htop': 'htop',
    'imagemagick': 'imagemagick',
    'ncdu': 'ncdu',
    'neofetch': 'neofetch',
    'pandoc':   'pandoc',
    'pciutils': 'pciutils',
    'p7zip': 'p7zip',
    'powertop': 'powertop',
    'pv':   'pv',
    'python': 'python',
    'rsync': 'rsync',
    'ruby': 'ruby',
    'sshfs': 'sshfs',
    'srm': 'srm',
    'sudo': 'sudo',
    'tlp': 'tlp',
    'tmux': 'tmux',
    'unrar': 'unrar',
    'unzip': 'unzip',
    'usbutils': 'usbutils',
    'util-linux':   'util-linux',
    'wget': 'wget',
    'xkcdpass': 'xkcdpass',
    'xz':   'xz',
    'zip': 'zip',
    'zsh': 'zsh',
    'zsync': 'zsync'
  },
  'Alpine': {
    'apk-file': 'apk-file',
    'dict': None,
    'dtrx': None,
    'pandoc': None,
    'python': 'python3',
    'srm':  None,
    'zsync': None
  },
  'Arch': {
    'apg': None,
    'dict': 'dictd',
    'dtrx': None,
    'srm':  None,
    'xkcdpass': None
  },
  'Debian': {
    'apt-utils': 'apt-utils',
    'apt-file': 'apt-file',
    'busybox': 'busybox-static',
    'cpupower': debian_cpupower,
    'ddrescue': 'gddrescue',
    'locales': 'locales',
    'rfkill':   'rfkill',
    'p7zip': 'p7zip-full',
    'scdaemon': 'scdaemon',
    'python-pip':   'python-pip',
    'srm': 'secure-delete',
    'xz':   'xz-utils'
  },
  'Gentoo': {
    'apg': 'app-admin/apg',
    'aria2': 'net-misc/aria2',
    'asciinema': 'app-misc/asciinema',
    'at':   'sys-process/at',
    'bc':   'sys-devel/bc',
    'bzip2': 'app-arch/bzip2',
    'busybox': 'sys-apps/busybox',
    'curl': 'net-misc/curl',
    'cpupower': 'sys-power/cpupower',
    'ddrescue': 'sys-fs/ddrescue',
    'dict': 'app-text/dictd',
    'dmidecode': 'sys-apps/dmidecode',
    'dos2unix': 'app-text/dos2unix',
    'dtrx': 'app-arch/dtrx',
    'eselect-repository':   'app-eselect/eselect-repository',
    'expect':   'dev-tcltk/expect',
    'fdupes': 'app-misc/fdupes',
    'file': 'sys-apps/file',
    'genlop': 'app-portage/genlop',
    'gentoolkit':   'app-portage/gentoolkit',
    'htop': 'sys-process/htop',
    'imagemagick': 'media-gfx/imagemagick',
    'ncdu': 'sys-fs/ncdu',
    'neofetch': 'app-misc/neofetch',
    'pandoc':   'app-text/pandoc',
    'pciutils': 'sys-apps/pciutils',
    'p7zip': 'app-arch/p7zip',
    'portage-utils':    'app-portage/portage-utils',
    'powertop': 'sys-power/powertop',
    'pv':   'sys-apps/pv',
    'python': 'dev-lang/python',
    'repoman':  'app-portage/repoman',
    'rsync': 'net-misc/rsync',
    'ruby': 'dev-lang/ruby',
    'sshfs': 'net-fs/sshfs',
    'smart-live-rebuild':   'app-portage/smart-live-rebuild',
    'srm': 'app-misc/srm',
    'sudo': 'app-admin/sudo',
    'tlp': 'app-laptop/laptop-mode-tools',
    'tmux': 'app-misc/tmux',
    'unrar': 'app-arch/unrar',
    'unzip': 'app-arch/unzip',
    'usbutils': 'sys-apps/usbutils',
    'util-linux': 'sys-apps/util-linux',
    'wget': 'net-misc/wget',
    'xkcdpass': 'app-admin/xkcdpass',
    'xz':   'app-arch/xz-utils',
    'zip': 'app-arch/zip',
    'zsh': 'app-shells/zsh',
    'zsync': 'net-misc/zsync'
  },
  'RedHat': {
    'cpupower': 'kernel-tools',
    'dict': 'dictd',
    'locales':  'glibc-langpack-en',
    'imagemagick': 'ImageMagick',
    'python':   'python3',
    'sshfs':    'fuse-sshfs',
    'xkcdpass': None,
    'zsync':    None
  },
  'Suse': {
    'unrar':    None,
    'ddrescue': None,
    'dict':  None,
    'dtrx': None,
    'imagemagick': None,
    'neofetch': None,
    'xkcdpass': None
  },
  'Void': {
    'imagemagick': 'ImageMagick',
    'sshfs':    'fuse-sshfs',
    'unrar': None
  }
},
grain="os_family", base='default', merge=salt['grains.filter_by']({
    'Debian': {
      'unrar': None
    },
}, grain='os',
merge=salt['pillar.get']('common_packages:lookup'), base='default')) %}
