{% set go_packages = salt['grains.filter_by']({
  'default': {
    'go':   'go',
    'go-tools': 'go-tools',
    'godep':    'godep'
  },
  'Debian': {
    'go':   'golang',
    'go-tools':   None,
    'godep':    'go-dep'
  },
},
grain="os_family",
merge=salt['pillar.get']('go_packages:lookup'), base='default') %}
