{% set roboto_fonts = salt['grains.filter_by']({
  'default': {
    'ttf-roboto':         'ttf-roboto'
  },
  'Debian': {
    'ttf-roboto':         'fonts-roboto',
    'ttf-roboto-hinted':  'fonts-roboto-hinted',
   },
   'Gentoo': {
    'ttf-roboto':         'media-fonts/roboto'
   },
   'RedHat': {
    'ttf-roboto':   'google-roboto-fonts'
   },
   'Suse': {
    'ttf-roboto':   'google-roboto-fonts'
   },
   'Void': {
    'ttf-roboto':   'fonts-roboto-ttf'
   }
}, grain='os_family', merge = salt['pillar.get']('roboto_fonts:lookup'), base='default') %}
