{% set noto_fonts = salt['grains.filter_by']({
  'default': {
    'noto-fonts':         'noto-fonts',
    'noto-fonts-cjk':     'noto-fonts-cjk',
    'noto-fonts-emoji':   'noto-fonts-emoji',
    'noto-fonts-extra':   'noto-fonts-extra',
  },
  'Alpine': {
    'noto-fonts':   'font-noto',
    'noto-fonts-emoji': 'font-noto-emoji',
    'noto-fonts-extra': 'font-noto-extra'
  },
  'Debian': {
    'noto-fonts':         'fonts-noto',
    'noto-fonts-cjk':     'fonts-noto-cjk',
    'noto-fonts-emoji':   'fonts-noto-color-emoji',
    'noto-fonts-extra':   'fonts-noto-cjk-extra',
    'noto-fonts-mono':    'fonts-noto-mono',
    'noto-fonts-unhinted': 'fonts-noto-unhinted',
   },
   'Gentoo': {
    'noto-fonts':         'media-fonts/noto',
    'noto-fonts-cjk':     'media-fonts/noto-cjk',
    'noto-fonts-emoji':   None,
    'noto-fonts-extra':   None,
   },
   'Void': {
    'noto-fonts':   'noto-fonts-ttf',
    'noto-fonts-extra': 'noto-fonts-ttf-extra'
   }
}, grain='os_family', merge = salt['pillar.get']('noto_fonts:lookup'), base='default') %}
