{% macro yay(pkgs=[], require=True) %}
  cmd.run:
    - name: |
        set -e -x
        {% if pkgs|length <= 0 %}
        exit 1
        {% endif %}
        sudo -u aur -- yay -S --noconfirm --nosudoloop --needed -- {% for pkg in pkgs %}{{pkg}} {% endfor %}
    {% if require == True %}
    - require:
      - sls: applications.utilities.yay.yay
    {% endif %}
{% endmacro %}
