{% set firacode_fonts = salt['grains.filter_by']({
  'default': {
    'ttf-fira-code':         'ttf-fira-code'
  },
  'Debian': {
    'ttf-fira-code':         'fonts-firacode',
   }
}, grain='os_family', merge = salt['pillar.get']('firacode_fonts:lookup'), base='default') %}
