{% set firewall = salt['grains.filter_by']({
    'Default': {
        'firewall': 'firewalld',
        'disabled': False,
        'zone': 'public'
    },
    'Alpine': {
        'firewall': 'ufw',
        'disabled': False,
    },
    'Debian': {
        'firewall': 'ufw',
        'disabled': False,
    },
    'Void': {
        'firewall': 'ufw',
        'disabled': False
    }
}, grain='os_family', merge=salt['grains.filter_by']({
    'Default': {
      'firewall': None,
      'disabled': False,
      'zone': None
    },
    'Docker': {
        'firewall': None,
        'disabled': True,
    }
}, grain='virtual_subtype', merge=salt['pillar.get']('firewall')), default='Default') %}
