{% set display_managers_sddm = salt['grains.filter_by']({
  'default': {
    'pkg': 'sddm',
    'service': 'sddm'
  },
  'Gentoo': {
    'pkg': 'x11-misc/sddm'
  }
},
grain="os_family",
merge=salt['pillar.get']('display_managers_sddm:lookup'), base='default') %}
